<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <description>MySPA</description>
    
    <servlet>
        <servlet-name>RESTJerseyPrueba</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTPrueba</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseyPrueba</servlet-name>
        <url-pattern>/rsprueba/*</url-pattern>
    </servlet-mapping>
    
    
   <servlet>
        <servlet-name>RESTJerseyProducto</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTProducto</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseyProducto</servlet-name>
        <url-pattern>/rsproducto/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RESTJerseyCliente</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTCliente</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseyCliente</servlet-name>
        <url-pattern>/rscliente/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RESTJerseyEmpleado</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTEmpleado</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseyEmpleado</servlet-name>
        <url-pattern>/rsempleado/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RESTJerseyReservacion</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTReservacion</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseyReservacion</servlet-name>
        <url-pattern>/rsreservacion/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RESTJerseySala</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTSala</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseySala</servlet-name>
        <url-pattern>/rssala/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RESTJerseySucursal</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTSucursal</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseySucursal</servlet-name>
        <url-pattern>/rssucursal/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RESTJerseyTratamiento</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTTratamiento</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseyTratamiento</servlet-name>
        <url-pattern>/rstratamiento/*</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>RESTJerseyLogin</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTLogin</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseyLogin</servlet-name>
        <url-pattern>/rslogin/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RESTJerseyServicio</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTServicio</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseyServicio</servlet-name>
        <url-pattern>/rsservicio/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RESTJerseySalaHorario</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTSalaHorario</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseySalaHorario</servlet-name>
        <url-pattern>/rssalahorario/*</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>RESTJerseyHorario</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.systemkeys.myspa.rest.RESTHorario</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTJerseyHorario</servlet-name>
        <url-pattern>/rshorario/*</url-pattern>
    </servlet-mapping>
    
</web-app>
