*{
	margin: 0px;
	padding: 0px;
}
body{
    background:linear-gradient(#c7c4bc, #d1c6cc);
	transform-style:preserve-3d;
	overflow-y:scroll;
	overflow-x:hidden;
}
header{
	background-image: url("../imgs/spaa.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
	height:350px;
	width:100%;
	padding: 10%;
}
h1{
	text-align:center;
	font-size:600%;
	font-family:GreatVibes;
}
h2{
	text-align:center;
	font-size:400%;
	font-family:GreatVibes;
}
h4{
	text-align:center;
	font-size:300%;
	font-family:GreatVibes;
}
@font-face{
	font-family:GreatVibes;
	src:url(fuentes/GreatVibes.otf);
}
#imgprincipal{
	float:left;
	border-radius:75px;
	padding:10px;
}
ul{
    list-style:none;
    padding:50;
		position: fixed;
		background-color:#6D1134;
		width: 100%;
        height: auto;

}
ul li{
    border-radius:5px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
		margin-top: 0px;
	font-size:large;
}
ul li:hover{
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));/*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);/*Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #E3E3E3);/*Opera*/
    background-image: linear-gradient(top, #FFF, #E3E3E3);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #999;/*Opera*/
    box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/
    border:1px solid rgb(0, 0, 0);
}
ul li a{
    color:white;
    display:block;
    padding:7px;
                margin-left: 20px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4	s linear all;
    transition: 0.4s linear all;
}
ul li a:hover {
    color:#000;
}
article{
	height:auto;
	width:90%;
	padding:5%;
}
#info{
	float:left;
	height:auto;
	width:45%;
	text-align:justify;
	font-size:x-large;
	font-family: Helvetica, Arial, sans-serif;
}
#info2{
	float:right;
	height:auto;
	width:45%;
	text-align:justify;
	font-size:x-large;
	font-family: Helvetica, Arial, sans-serif;
}
#imgs{
	height:auto;
	width:100%;
	padding:2%;
        padding-left: 10%;
	clear:both;
}
img{
	height:220px;
	margin:5px;
}
section{
	height:auto;
	width:80%;
	padding:5%;
}
#imgsect{
	border-radius:150px;
	height:200px;
}
#imgsect1{
	text-align:center;
	float:left;
	font-size:x-large;
	height:auto;
}
#imgsect2{
	text-align:center;
	float:left;
	font-size:x-large;
	height:auto;
	width:300px;
}
#imgsect3{
	text-align:center;
	float:right;
	font-size:x-large;
	height:auto;
	width:360px;
}
nav{
	clear:both;
}
aside{
	float:right;
	width:15%;
	margin:70px;
}
#redes{
	height:50px;
}
footer{
	clear:both;
	text-align:center;
	padding:30px;
	height: 15px;
	background-color:rgb(83, 7, 23);
	color: rgb(255, 255, 255);
	text-decoration: bold;
	position: fixed;
	bottom: 0;
	right:0;
	width: 100%;
}
#services{
	float:left;
	clear:both;
	padding:20px;
        width: 100%;
}
#salas{
	float:left;
	clear:both;
	padding:20px;
        width: 100%;
}
.ejemplo-1{
	padding:25px;
	float:right;
}
.ejemplo-1 img{
	transition: all 0.2s linear;
	height:300px;
}
.ejemplo-1:hover img {
transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}
.ejemplo-1:hover .mascara {
opacity: 1;
}
#mision{
    float:left;
}
#valores{
    float:right;
}
#pol{
    height: 40%;
}